.App-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
  margin-bottom: 40px;
  max-height: 680px;
  overflow-y: scroll;
  display: block;
  position: relative;
  z-index: 100;
}

.App-table thead tr th {
  cursor: pointer;
}

.App-table td,
.App-table th {
  border: 1px solid #ddd;
  padding: 8px;
  position: relative;
  height: 40px;
  width: 25%;
}

.App-table tr:hover {
  background-color: #8096c2;
}

.App-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0a1f49;
  color: white;
}

.App-table td input,
select {
  z-index: 3;
  background: transparent;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.App-table td select option {
  background: #8096c2;
  color: #ffffff;
  padding: 4px;
}

.App-table td input::placeholder {
  color: #fff;
  text-align: center;
}
